<br />
<div class="container">
	
	<div class="row">
		<span class="pull-right">
			<button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Please Sign in to Twitter to Use the app</button>
			<button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
		</span>
	</div>
	<h1>Find Positive Tweets about your brand!</h1>
	<div class="row">
		<input id="searchField" name="searchTerm" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 ? sentimentSearch(searchTerm) : null" placeholder="Enter search terms" class='form-control'>
	</input>
</div>
<br />
<div class="row">
	<div class="col-xs-12" id="results">
		<div class="row" ng-repeat="t in bestTweets | filter:searchTerm">
			<div class="col-xs-2 col-sm-1">
				<img ng-src="{{t.user.profile_image_url}}" class="img-rounded">
			</div>
			<div class="col-xs-10 col-sm-11">
				<div class="well">
					<!-- Should turn created_at in to Date and format -->
					<small>{{t.user.name}}</small> | <small>{{t.created_at}}</small>
					<br> <span ng-bind-html="t.text"></span>
				</div>
			</div>
		</div>
		<div ng-show="twitterError">
			Sorry, something went wrong
		</div>
	</div>
</div>
</div>
